<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">TODO LIST</h1>
  </div>
</div>
<div class="row">
  <div *ngFor="let item of todoList "  class="col-sm-3">
    <div class="input-group mb-3 "  >    <!-- *ngIf="item.completed === true" -->
      <div class="input-group-prepend" >
        <div class="input-group-text">
          <input type="checkbox" aria-label="Checkbox for following text input" [checked]="item.completed === true"  >
        </div>
      </div>
      <input type="text" class="form-control" aria-label="Text input with checkbox" [value]="item.title">
    </div>
    
  </div>
  
</div>